body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color: #C2CEE1;
    font-family: 'Roboto', sans-serif;
  }
 
  header {
    text-align: center;
    background-color: #E6E6E6;
    padding: 20px;
  }

  .header__nav {
      display: flex;
      margin: 0 auto;
      align-items: center;
  }

  .header__nav ul {
      padding: 0;
      margin: 0 auto;
      display: flex;
      text-align: center;
      border: 1px solid #eae7e2;
      width: 100%;
      justify-content: center;
  }

  .nav__item {
    padding: 20px;
    max-width: 250px;
    flex-grow: 1;
    list-style-type: none; 
    border: 1px solid #eae7e2;
    background-color: #7A9DD7;
  }

  .nav__item a {
    text-decoration: none;
    color: #fff;
  }

  .nav__item:hover {
    background-color: #EDE342;
  }
  .nav__item a:hover {
    color: #000; 
  }

  main {
    padding: 30px;
  }
  h1 {
      margin: 0;
      font-size: 2em;
      padding: 30px;
  }

  h3 {
      font-weight: bold;
      font-size: 1.4em;
      
  }

  img {
      max-width: 90px;
      opacity: 0.7;
  }


  section {
    padding: 70px;
   
  }

  