@media only screen and (min-width: 710px) {
    .header {
        margin: 10px 150px 10px;
    }
    .header_text {
        font-size: 26px;
    }
    nav button {
        display: none;
    }
    nav ul li a {
        border: none;
        border: 1px solid #003561;
        padding: .8rem 1rem;
        text-align: center;
    }
    nav ul li:first-child a {
        border-left-width: 2px;
    }
    nav ul li:last-child a {
        border-right-width: 2px;
    }
    nav ul.hide {
        display: flex;
        justify-content: stretch;
        max-width: 1000px;
        margin: 0 auto
    }
    li {
        flex-grow: 1;
    }
    .hero_part {
        background: url(../../images/hero1023.jpg) no-repeat center;
    }
    /* HERO */
    .hero_part {
        height: 287px;
    }
    .wrap {
        position: relative;
    }
    .hero_text {
        position: absolute;
        top: 20px;
        left: 150px;
        max-width: 318px;
    }
    .hero_title {
        font-size: 40px;
        color: white;
    }
    .hero_p {
        color: white;
        padding: 0;
    }
    /* ABOUT US */
    .about_us_h2 {
        color: #003561;
        margin: 0 0 15px 0;
        font-size: 30px;
        text-align: left;
        padding: 100px 0 0 150px;
    }
    .about_us {
        display: flex;
        flex-wrap: wrap;
        padding: 34px 157px 35px 150px;
        justify-content: space-between;
    }
    .about_us_p {
        width: 45%;
        padding: 0;
        padding-bottom: 40px;
    }
    /* WEATHER */
    .local_weather {
        background: url("../../images/weather1.jpg") no-repeat center;
        padding: 20px 0 6px 0;
    }
    .summary {
        padding: 40px 0 100px 50px;
        margin: 14px 23px 30px 24px;
        width: 600px;
        margin: 0 auto;
    }
    .forecast {
        width: 710px;
        margin: 0 auto;
    }
    .sum {
        font-size: 26px;
    }
    .item {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .forecastdiv {
        padding: 30px;
    }
    /* EVENTS */
    .events {
        width: 600px;
        margin: 50px auto;
        padding: 50px;
    }
    /* LOCAL COMPANIES */
    .local_images {
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        margin: 0 auto;
    }
    .block {
        display: block;
    }
    #loc1 {
        width: 377px;
        padding-right: 20px;
    }
    #loc2 {
        width: 303px;
        height: 310px;
    }
    #loc3 {
        width: 303px;
        height: 310px;
    }
    .join_button {
        width: 700px;
    }
    /* FOOTER */
    footer {
        max-width: 1023px;
        margin: 0 auto;
    }
    .address {
        padding: 7px 0 0 150px;
        font-size: 14px;
    }
    .phone {
        padding: 14px 0 0 150px;
    }
    .mail {
        padding-left: 150px;
    }
    .socials {
        padding: 14px 0 20px 150px;
    }
    .footer {
        font-size: 14px;
        padding: 0 0 48px 150px;
    }
}