@media (max-width: 1330px) {

   

    .screenshots {
        align-items: flex-start;
        flex-wrap: wrap;
    }


    .description {
        width: 200px;
    }
    
    .screenshots-1 {
        flex-wrap: wrap;
        align-items: flex-start;
    }
}