@media only screen and (min-width: 1024px) {
    body {
        max-width: 1440px;
        margin: 0 auto;
    }
    .header {
        padding-left: 185px;
        margin-left: 0;
    }
    /* MAIN PART */
    .title {
        margin: 0 185px;
    }
    #btnContainer {
        margin: 0 185px 30px 185px;
    }
    /* ------- CARD ----------- */
    .cards_view_list {
        margin: 30px 185px;
    }
    .cards_view_list .card {
        max-width: 100%;
        margin: 20px 0;
    }
    /* ----------- CARD GRID -------- */
    .cards_view_grid .card {
        width: 30%;
        margin: 0;
        margin-right: 18px;
        margin-bottom: 30px;
    }
    .cards_view_grid {
        display: flex;
        flex-wrap: wrap;
        margin: 0 185px;
    }
    /* FOOTER */
    footer {
        max-width: 1440px;
    }
    .address {
        padding: 7px 0 0 185px;
        font-size: 18px;
    }
    .phone {
        padding: 18px 0 0 185px;
    }
    .mail {
        padding-left: 185px;
    }
    .socials {
        padding: 18px 0 20px 185px;
    }
    .footer {
        font-size: 18px;
        padding: 0 0 48px 185px;
    }
    .contact {
        font-size: 30px;
    }
}