@media only screen and (min-width: 710px) {
    .header {
        margin: 10px 150px 10px;
    }
    .header_text {
        font-size: 26px;
    }
    nav button {
        display: none;
    }
    nav ul li a {
        border: none;
        border: 1px solid #003561;
        padding: .8rem 1rem;
        text-align: center;
    }
    nav ul li:first-child a {
        border-left-width: 2px;
    }
    nav ul li:last-child a {
        border-right-width: 2px;
    }
    nav ul.hide {
        display: flex;
        justify-content: stretch;
        max-width: 1000px;
        margin: 0 auto
    }
    li {
        flex-grow: 1;
    }
    /* CARD */
    .card {
        box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
        width: 1140px;
        display: flex;
        margin: 50px auto;
    }
    .logo {
        width: 185px;
        padding: 0;
    }
    .name {
        font-family: "Legacy Sans ITC Pro", sans-serif;
        font-size: 36px;
        font-weight: 400;
        margin: 0;
    }
    .number {
        font-size: 20px;
        font-family: "avenir", sans-serif;
        margin: 0;
    }
    .link {
        text-decoration: underline;
        margin: 5px;
    }
    .part_1,
    .part_2 {
        padding: 20px;
    }
    .address_1 {
        margin: 0;
        padding: 20px 0;
    }
    .time {
        color: rgba(0, 0, 0, 0.5);
        margin: 0;
    }
    /* FOOTER */
    footer {
        max-width: 1023px;
        margin: 0 auto;
    }
    .address {
        padding: 7px 0 0 96px;
        font-size: 14px;
    }
    .phone {
        padding: 14px 0 0 96px;
    }
    .mail {
        padding-left: 96px;
    }
    .socials {
        padding: 14px 0 20px 96px;
    }
    .footer {
        font-size: 14px;
        padding: 0 0 48px 96px;
    }
}