@media only screen and (min-width: 710px) {
    .header {
        margin: 10px 150px 10px;
    }
    .header_text {
        font-size: 26px;
    }
    nav button {
        display: none;
    }
    nav ul li a {
        border: none;
        border: 1px solid #003561;
        padding: .8rem 1rem;
        text-align: center;
    }
    nav ul li:first-child a {
        border-left-width: 2px;
    }
    nav ul li:last-child a {
        border-right-width: 2px;
    }
    nav ul.hide {
        display: flex;
        justify-content: stretch;
        max-width: 1000px;
        margin: 0 auto
    }
    li {
        flex-grow: 1;
    }
    /* MAIN PART */
    .title {
        font-family: "Legacy Sans ITC Pro", sans-serif;
        font-size: 34px;
        padding: 40px 0 20px 0;
        margin: 0 130px;
    }
    #btnContainer {
        margin: 0 130px 30px 130px;
    }
    /* ----------- CARD LIST--------- */
    /* .card {
        display: flex;
        max-width: 930px;
        margin: 20px auto;
        position: relative;
        height: 128px;
    }
    .card_logo {
        width: 185px;
    }
    .website {
        margin: 5px;
    }
    .address_1 {
        margin: 0;
        padding: 31px 0 0 0;
    }
    .time {
        color: rgba(0, 0, 0, 0.5);
        margin: 0;
    }
    .part_1 {
        margin-bottom: 0;
    }
    .part_2 {
        position: absolute;
        right: 0;
        max-width: 300px;
    } */
    /* ----------- CARD GRID -------- */
    .card {
        width: 40%;
        margin: 0;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 130px;
    }
    /* FOOTER */
    footer {
        max-width: 1023px;
        margin: 0 auto;
    }
    .address {
        padding: 7px 0 0 96px;
        font-size: 14px;
    }
    .phone {
        padding: 14px 0 0 96px;
    }
    .mail {
        padding-left: 96px;
    }
    .socials {
        padding: 14px 0 20px 96px;
    }
    .footer {
        font-size: 14px;
        padding: 0 0 48px 96px;
    }
}