body {
    padding: 0;
    margin: 0;
    font-family: "Avenir";
    color: #003561;
}


/* HEADER HERE */

.logo {
    padding: 22px 0 26px 0;
}

.header {
    display: flex;
    margin: 10px 35px 0;
}

.header_part {
    padding-top: 32px;
}

.header a {
    display: flex;
    text-decoration: none;
}

.header_text {
    margin: 0;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    font-size: 1em;
    font-family: "Legacy Sans ITC Pro", sans-serif;
    font-weight: 400;
    color: #003561;
}


/* NAVIGATION HERE  */

nav {
    border: 1px solid #003561;
}

li {
    color: #003561;
    list-style-type: none;
    font-family: "Legacy Sans ITC Pro", sa;
}

ul {
    padding: 0;
    margin: 0;
}

nav button {
    /* margin: .2rem 2%; */
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: #003561;
    padding: 10px 44px;
    margin: 0;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #003561;
    border-top: 1px solid #003561;
    padding: 15px 44px;
}

nav ul li a:hover {
    background-color: #003561;
    color: white;
}

.active {
    background-color: #FF9241;
}

nav ul.hide {
    display: none;
}


/* MAIN PART */

.title {
    font-family: "Legacy Sans ITC Pro", sans-serif;
    font-size: 30px;
    padding: 40px 0 20px 0;
    margin: 0 20px;
}

.view,
.title_2 {
    margin: 0 20px 20px 20px;
}

.view img {
    margin-right: 10px;
}


/* CARD */

.card {
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
    margin: 30px;
}

.card_logo {
    width: 100px;
}

.name,
.number,
.time {
    margin: 0;
}

.part_1,
.part_2 {
    margin: 20px;
}

.time {
    color: #013662b7;
    padding-bottom: 20px;
}


/* FOOTER  */

footer {
    background: #013662;
    color: white;
}

.contact {
    text-transform: uppercase;
    text-align: center;
    font-family: "Legacy Sans ITC Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 30px;
    margin: 0;
}

.address {
    margin: 0;
    padding: 7px 0 0 48px;
    font-size: 12px;
}

.phone {
    display: flex;
    padding: 14px 0 0 48px;
}

.mail {
    display: flex;
    padding-left: 48px;
}

.phone_number {
    margin: 6px 0 0 2px;
}

.socials {
    padding: 10px 0 20px 48px;
}

.footer {
    font-size: 12px;
    padding: 0 0 48px 48px;
}