@media only screen and (min-width: 1440px) {
    body {
        max-width: 1920px;
        margin: 0 auto;
    }
    .service_block {
        display: flex;
        width: 1033px;
        margin: 0 auto;
    }
    .photo_1 {
        width: 320px;
        height: 320px;
    }
    .video {
        width: 990px;
        height: 560px;
    }
    .subheading_2 {
        font-size: 30px;
    }
    .block1 {
        width: 1024px;
    }
    .photos {
        max-width: 1100px;
    }
    nav ul li a {
        font-size: 18px;
    }
    .input {
        height: 50px;
        width: 320px;
    }
    .footer_ {
        width: 1050px;
    }
    .text {
        font-size: 20px;
    }
    .avocado_pic {
        width: 500px;
        padding-right: 50px;
    }
    .form {
        width: 1100px;
    }
    .first {
        width: 412px;
        height: 55px;
    }
    #submitBtn {
        width: 436px;
        height: 61px;
        font-size: 20px;
    }
}