@media only screen and (min-width: 460px) {
    .heading {
        font-size: 26px;
    }
    .text {
        font-size: 18px;
    }
    .about {
        width: 400px;
    }
    .card_1 {
        max-width: 260px;
    }
    .video {
        width: 402px;
        height: 238px;
    }
    .photo_1 {
        width: 195px;
        height: 195px;
        margin: 5px;
    }
    .avocado_pic {
        width: 320px;
    }
}


/*********** Article **********/

.article_card_text {
    padding: 30px;
}