@media only screen and (min-width: 768px) {
    nav button {
        display: none;
    }
    .bg {
        height: 150px;
    }
    nav ul.hide {
        display: flex;
        margin: 0 auto;
        width: 768px;
    }
    .logo_small {
        display: none;
    }
    .logo {
        text-align: center;
        display: block;
        position: absolute;
        top: 10px;
        left: 50%;
    }
    .logo_1 {
        width: 80px;
    }
    .logo_text {
        display: block;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        color: #1E2125;
        margin: 0;
    }
    .logo_text:hover {
        font-weight: 700;
        color: #4064AD;
    }
    .block1 {
        display: flex;
        margin: 50px auto;
        width: 768px;
    }
    .text {
        margin: 7px;
    }
    .block2 {
        display: block;
    }
    .grandma {
        width: 58%;
        margin: 10px 20px;
    }
    .heading {
        margin: 10px 43px;
        width: 300px;
        font-size: 30px;
    }
    .socials {
        margin: 0 auto 50px;
    }
    .subheading_2 {
        font-size: 20px;
        text-align: center;
    }
    .block3 {
        display: flex;
        margin: 0 auto;
        width: 600px;
    }
    .card_1 {
        margin-right: 18px;
    }
    .card_2 {}
    .card_1 .text_h3 {
        margin: 0 0 42px 0;
    }
    .video {
        width: 600px;
        height: 350px;
    }
    .form {
        display: flex;
        margin: 40px auto 0;
        padding-bottom: 50px;
        width: 600px;
    }
    .avocado_pic {
        margin: 0;
        padding: 5px;
        width: 270px;
    }
    .footer_block {
        display: flex;
    }
    .text_h6 {
        margin: 23px 1px 18px 140px;
        font-size: 18px;
    }
    .footer_ {
        margin-left: 100px;
        padding: 20px 0;
    }
    .photos {
        max-width: 800px;
    }
}