/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 1025px) {

    nav ul li a {
        padding: .6rem 1rem;
    }
    
    main {
        max-width: 1440px;
      
    }

    .picture {
       object-fit: cover;
       object-position: 80% 20% ;
    }

    .main_city {
        font-size: 2.6em;
        padding: 30px;
    }

    .summary {
        width: 400px;
        height: 270px;
        padding: 25px;
        top: 320px;
    }   


    .weather_summary {
        font-size: 2.1em;
    }

    p {
        font-size: 1.8em;
    }


} /*end large */