@media only screen and (min-width: 710px) {
    .header {
        margin: 10px 150px 10px;
    }
    .header_text {
        font-size: 26px;
    }
    nav button {
        display: none;
    }
    nav ul li a {
        border: none;
        border: 1px solid #003561;
        padding: .8rem 1rem;
        text-align: center;
    }
    nav ul li:first-child a {
        border-left-width: 2px;
    }
    nav ul li:last-child a {
        border-right-width: 2px;
    }
    nav ul.hide {
        display: flex;
        justify-content: stretch;
        max-width: 1000px;
        margin: 0 auto
    }
    li {
        flex-grow: 1;
    }
    footer {
        margin: 0 auto;
    }
    /* HERO */
    .hero_part {
        height: 430px;
        background: url(../../images/city.1023.jpg) no-repeat center;
    }
    .wrap {
        position: relative;
    }
    .hero_text {
        position: absolute;
        top: 20px;
        left: 150px;
        max-width: 318px;
    }
    .hero_title {
        font-size: 40px;
        color: white;
    }
    .hero_p {
        color: white;
        padding: 0;
    }
    /* 
    HISTORY INFORMATION */
    .history {
        font-size: 36px;
        padding: 79px 0 57px 96px;
        text-align: left;
        margin: 0;
    }
    .text {
        font-size: 18px;
        margin: 0 95px 40px 96px;
        padding: 0;
    }
    .text_1 {
        width: 390px;
        font-size: 18px;
        margin: 0;
    }
    .block_2 {
        display: flex;
        padding: 0;
        margin: 0 95px;
    }
    .city_pic1 {
        padding: 0 0 30px 24px;
        max-height: 220px;
        width: 320px;
    }
    .text_2 {
        font-size: 18px;
        padding-left: 0;
    }
    .city_pic2 {
        float: left;
        padding-left: 0;
        width: 320px;
    }
    .block_3 {
        margin: 0 95px 40px 96px;
    }
    /* EVENTS */
    .events {
        width: 600px;
        margin: 50px auto;
        padding: 50px;
    }
    .upcoming_events {
        font-size: 30px;
    }
    p {
        font-size: 18px;
    }
    /* GALLERY  */
    .container {
        margin: 0 96px;
        display: flex;
        flex-wrap: wrap;
    }
    .picture {
        width: 45%;
    }
    .src {
        display: flex;
    }
    /* FOOTER */
    footer {
        max-width: 1023px;
    }
    .address {
        padding: 7px 0 0 96px;
        font-size: 14px;
    }
    .phone {
        padding: 14px 0 0 96px;
    }
    .mail {
        padding-left: 96px;
    }
    .socials {
        padding: 14px 0 20px 96px;
    }
    .footer {
        font-size: 14px;
        padding: 0 0 48px 96px;
    }
}