/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 1025px) {

    nav ul li a {
        padding: .6rem 1rem;
    }
    
    main {
        max-width: 1440px;
      
    }

    

    

    p {
        font-size: 1.8em;
    }




} /*end large */