body {
    background-color: #E6E6E6;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.banner {
    background: #f3ed91;
    text-align: center;
    padding: 30px;
    box-shadow: 0 5px 15px 4px rgb(104 104 104 / 30%);
    z-index: 1;
    position: relative;
    display: none;
}

.visible {
    display: block;
}

header {
    display: flex;
    background-color: #E6E6E6;
    color: rgb(0, 0, 0, 0.8)
}

.logo {
    width: 50px;
    padding: 0 20px;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #E6E6E6;
}

nav {
    background: #7A9DD7;
    background: linear-gradient(to bottom,  rgba(103,145,213,0.7) 0%,rgba(103,145,213,0.7) 11%,rgba(103,145,213,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    

}


h2 {
 font-size: 1em;
 margin-top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 8rem 2%;
    text-decoration: none;
    color:#E6E6E6;
    border-top: 1px solid rgb(0, 0, 0, 0.3);
    padding: 10px;
}

nav ul li.active a{
    background-color: #487bcd;
    color: #fff;
}

nav ul li a:hover {
    background-color: #3667b6;
}

nav ul.hide {
    display: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

main {
    background-color: #E6E6E6;    
}


.title {
    text-align: center;
}



footer {
   text-align: center;
   background: #7A9DD7;
   background: linear-gradient(to bottom,  rgba(103,145,213,0.7) 0%,rgba(103,145,213,0.7) 11%,rgba(103,145,213,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   
    padding: 10px;
    color: #fff;
}


/* content */

.contents {
    position: relative;
}
.summary {
    position: absolute;
    width: 160px;
    left: 30px;
    top: 30px;

    background: rgba(255, 255, 255, 0.2);

    border-radius: 5px;

    color: white;
    padding: 5px;
}   



p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 0.8em;
    font-weight: lighter;
}


.con {
    margin: 20px;
}

.con_1 {
    margin: 10px 10px 30px 10px;
}
.number {
    margin: 10px;
}


.social img {
    width: 30px;
}


/* footer */
.last_update {
    text-align: center;
}


.picture {
    width: 80%;
    
    padding: 10px;
    box-shadow: 0 10px 12px 0 rgb(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.picture:hover {
    box-shadow: 0 10px 12px 0 rgb(0, 0, 0, 0.3);
}

.src {
    
    width: 100%;
    background: rgb(208, 173, 173);
   margin-bottom: 10px;
}

